.beauty img{
    height: 200px;
    width: 150px;
    object-fit: contain;
}

.beauty{
    border: 1px solid black;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0px;
    border-radius: 10px;
    float: left;
    margin-left: 20px;
}

.beauty h1{
    font-size: 1.8rem;
}

.beauty h3{
    color: grey;
}